<launch>

    <!-- 将 Urdf 文件的内容加载到参数服务器 --><!-- (find xacro)/xacro 使用这个功能包将.urdf.xacro 便为 .urdf的文件 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.urdf.xacro" />

    <!-- 启动 gazebo --> <!-- 有一个默认的 空世界模型 有一个空文件的-->
    <!-- 启动的标签 把世界这个定位在标签里就ok了 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
       <arg name="world_name" value="$(find urdf02_gazebo)/worlds/sim_demo-main/box_house.world" />
    </include>

    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />
</launch>
